<!DOCTYPE HTML>
<html lang="en" 
		xmlns:th="http://www.thymeleaf.org"
		xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
     <th:block th:include="fragments/headerFiles.html :: headerfiles">
      </th:block>
	<title>Student Directory</title>
</head>

<body>

<div th:replace="fragments/navigation.html :: navigation"> </div> 
<div class="main-content">
	<h2 class="heading--secondary" th:text="'student ' + ${student.firstName} + ' '+ ${student.lastName} +'\' s courses'"></h2>
	<a class="btn-common btn-common--green btn-common--xlarge" th:href="@{/coursesStudents/showFormForAddCourse(studentId=${student.id})}"> 
	add new course to this student</a>
   <a th:href="@{/students/list}" class="link-common">back to professors list</a>
   <div class="table">
       
        <div class="table__columns">
            <span>student name</span>
            <span>course name </span>
            <span>action</span>
        </div>

        <div class="table__rows" th:each="tempCourse: ${student.courses}">
         	<span th:text="${student.firstName + ' ' + student.lastName}" />
         	<span th:text="${tempCourse.courseName}" />
         	<span>
         	 <a class="btn-common btn-common--green btn-common--large" th:href="@{/coursesStudentss/delete(studentId=${student.id},courseId=${tempCourse.id})}">
         	 remove from list
         	 </a>
         	 </span>
           
        </div>
        </div>
   
	</div> 
 
	
</body>
</html>



