<!DOCTYPE HTML>
<html lang="en" 
		xmlns:th="http://www.thymeleaf.org"
		xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
    <!-- Required meta tags -->
   <th:block th:include="fragments/headerFiles.html :: headerfiles">
      </th:block>

	<title>Course Directory</title>
</head>

<body>
		<div th:replace="fragments/navigation.html :: navigation"> </div>

 	

<div class="main-content">
<h2 class="heading--secondary" th:text="'the professors for ' + ${course.courseName }  "></h2>
<a class="btn-common btn-common--green btn-common--xlarge"
 th:href="@{/coursesProfessors/showFormForAddProfessor(courseId=${course.id})}"> 
 add new professor to this course
 </a>
   <a th:href="@{/courses/list}" class="link-common">back to courses list</a>
   <div class="table">
       
        <div class="table__columns">
            <span>course name</span>
            <span>professor name</span>
            <span>action</span>
        </div>

        <div class="table__rows" th:each="tempProfessor: ${course.professors}">
        	 <span th:text="${course.courseName}" />
         	 <span th:text="${tempProfessor.firstName + ' ' +tempProfessor.lastName }" />
         	 <span>
         	 <a class="btn-common btn-common--green btn-common--large" 
         	 th:href="@{/coursesProfessors/delete(professorId=${tempProfessor.id},courseId=${course.id})}">
         	 remove from list
         	 </a>
         	 </span>
           
        </div>
        </div>
   
	</div> 
 
	
</body>
</html>



