<!DOCTYPE HTML>
<html lang="en" 
		xmlns:th="http://www.thymeleaf.org"
		xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
    <th:block th:include="fragments/headerFiles.html :: headerfiles">
      </th:block>
	<title>Admin Directory</title>
</head>

<body>
		<div th:replace="fragments/navigation.html :: navigation"> </div>
 
<div class="main-content">
 <form method="GET" th:action="@{/admins/search}" class="form form--secondary">
        <input type="text" name="theSearchName" placeholder="Last Name..." />
        <input type="submit" value="Search" class="btn-common btn-common--green" /> 
        <a class="btn-common btn-common--green btn-common--large" th:href="@{/admins/showFormForAdd}"> add new admin</a>
    </form>
  
   
   <div class="table">
       
        <div class="table__columns">
            <span>first name</span>
            <span>last name </span>
            <span>action </span>
          
        </div>

        <div class="table__rows" th:each="tempAdmin: ${admins}">
            <span th:text="${tempAdmin.firstName}" />
            <span th:text="${tempAdmin.lastName}" /> 
            <span>
                <a class="btn-common btn-common--green btn-common--small" th:href="@{/admins/showFormForUpdate(adminId=${tempAdmin.id})}">update</a>
                <a class="btn-common btn-common--green btn-common--small" th:href="@{/admins/delete(adminId=${tempAdmin.id})}">delete</a>
            </span>
        </div>
        </div>
   
	</div> 
 
	
</body>
</html>



