<!DOCTYPE HTML>
<html lang="en" 
		xmlns:th="http://www.thymeleaf.org"
		xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
    
	 <th:block th:include="fragments/headerFiles.html :: headerfiles">
      </th:block>
	<title>Add Professor</title>
</head>


<body>
		<div th:replace="fragments/navigation.html :: navigation"> </div>
		<form class="form form--primary"  th:action="@{/professors/save}"
			  th:object="${professor}" method="POST">
		<input  name="id" id="id" th:field="*{id}" type="hidden">
        
		
        <div class="form__field">
            <label for="first-name">
                 first name :
            </label>
            <input  name="firstname" id="firstname" th:field="*{firstName}" placeholder="First Name">
        </div>
        
        <div class="form__field">
            <label for="lastname">
                 last name :
            </label>
            <input  name="lastName" id="lastname" th:field="*{lastName}" placeholder="Last Name">
        </div>
        
        <button type="submit" class="btn-common btn-common--green"> submit</button>
   
			</form>
	 
	 <a th:href="@{/professors/list}" class="link-common">back to professors list</a>
	

</body>




</html>